/* The switch - the box around the slider */
.switch {
    position: relative;
    top: 50%;
    transform: translateY(+50%);
    display: inline-block;
    width: 45px;
    height: 25px;
}

.center {
    transform: translateY(75%);
}
.centerButton {
    transform: translateY(20%);
}

.cell {
    text-align: center;
    vertical-align: middle !important;
}

.cellVert {
    vertical-align: middle !important;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #08A9C1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #08A9C1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

/* borderless table */
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

/* login form */

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-profile {
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
@include box-sizing(border-box);
}

.blue {
    color: #37C2D7;
}

.button {
    background-color: #37C2D7;
    color: white;
}

.button:hover {
    background-color: #08A9C1;
    color: white;
}

.blue-background {
    background-color: lightblue;
}